.card {
    display: inline-block;
    border-width: 8px;
    border-radius: 0%;
    border-color:#dddddd;
    margin: 8px 25px;
    box-shadow: 3px 3px 8px #cccccc;
}

.card:hover {
    box-shadow: 3px 3px 12px #aaaaaa;
}

.card>.img-container>img {
    object-fit: contain;
    height: 170px;
    width: 170px;
}

.card:hover {
    transform: scale(1.05);
}
